[submodule "sp24-lab1-spineda1208"]
	path = sp24-lab1-spineda1208
	url = https://github.com/PSU-CMPSC311-ZHU/sp24-lab1-spineda1208.git
[submodule "sp24-labhalf-spineda1208"]
	path = sp24-labhalf-spineda1208
	url = https://github.com/PSU-CMPSC311-ZHU/sp24-labhalf-spineda1208.git
